.WrapDragger {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(120, 120, 120, 0.4);
    position: absolute;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}